* {
    margin: 0;
    padding: 0;
}

body {
    background: #3BB373;
    font-family: arial;
}

h2 {
    color: rgb(48, 48, 48);
}

p {
    color:rgb(88, 88, 88);
    font-size: 14px;
    padding: 10px 0 10px 0;
}

main {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

section {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

section article {
    flex-grow: 1;
}

section:nth-of-type(1) {
    width: 100%;
    margin-right: 0;
}

section:nth-of-type(2) {
    width: 40%;
}

.lg-box {
    width: 100%;
    background: white;
    margin-bottom: 30px;
}

.sm-box {
    width: 100%;
    background: white;
}

img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: bottom;
}

.sm-box.trecias {
    height: 400px;
    overflow: hidden;
}

.sm-box.trecias img {
    height: 60%;
}

.content {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.box {
    background: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.bycomments {
    margin: 25px 25px 20px 25px;
    display: flex;
    justify-content: space-between;

}

.bycomments p {
    font-size: 12px;
    padding: 0;
}

@media (max-width: 900px) {    
    main {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        }

    section:nth-of-type(1) {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        }

    section:nth-of-type(2) {
        width: 90%;
        margin: 10px auto;
        }

}